game-details {
  .bet-info-container {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;

    .bet-info {
      align-items: center;
      background-color: $light-blue;
      border-radius: 4px;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      margin: 1rem;
      padding: 2rem;
    }

    .value,
    .title {
      color: $dark-blue;
    }

    .value {
      font-size: 2rem;
      font-weight: 900;
    }

    .title {
      font-size: 1.6rem;
      font-weight: bold;
    }
  }
}
