<section>
  <div class="video-container-region"></div>
  <div class="game-details-region"></div>
  <div class="game-rules-region"></div>
  <div class="game-overview-region"></div>
  <game-related></game-related>
</section>
