<div class="input-container">
  <input name="bonusPromoCode" id="bonus-promo-code" type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
    spellcheck="false" placeholder="{{translate "enter_promo_code"}}" value="{{bonusPromoCode}}" required>
  <label>{{translate "promo_code"}}</label>
</div>
<button type="button" class="btn-bonus-request btn-spinner">
  <div class="spinner"></div>
  <span>
    {{translate "claim"}}
  </span>
</button>
