@import '../../../node_modules/@bedegaming/bolt/src/widgets/footer/style';

site-footer {
  background-color: $primary-base;
  display: flex;
  flex-flow: column;
  padding: 0 2rem;

  @media ($small) {
    padding: 0 3rem;
  }

  .compliance-links {
    background: none;
    justify-content: center;
    padding: 0;

    div {
      margin: 0 0 3rem;
      width: 100%;
    }

    ul {
      flex-direction: column;

      @media ($small) {
        flex-flow: row wrap;
        justify-content: center;
        margin-right: -3rem;
      }

      li {
        font-size: 1.4rem;
        margin: 0 0 1rem;
        text-align: center;
        width: 100%;

        @media ($small) {
          margin: 0 3rem 1rem 0;
          width: auto;
        }
      }
    }

    a {
      color: $white;

      &:hover {
        color: transparentize($white, 0.2);
      }
    }
  }

  .info-text {
    justify-content: center;
    margin: 3rem auto 0;
    padding: 0 3rem;
    text-align: center;
    width: 100%;

    article {
      margin: 0;

      p {
        color: $white;
        font-size: 1.4rem;
      }
    }
  }

  .payment-info {
    margin-bottom: 3rem;
    padding: 0;

    div {
      display: flex;
      justify-content: center;
      margin: 0;
      width: 100%;

      ul {
        justify-content: center;
      }

      li {
        margin-right: 1.5rem;
      }

      &:first-child {
        display: none;
      }
    }
  }

  .footer-brand-logo {
    color: $white;
    margin: 4.5rem auto;
    width: 10rem;
  }
}
