<grid-content>
  <div class="pending-details">
    <span class="amount">{{currency amount 2}}</span>
    <span class="time">{{time}}</span>
  </div>
  <button class="btn btn-primary cancel">{{translate "cancel"}}</button>
</grid-content>
