@import '../../../node_modules/@bedegaming/bolt/src/widgets/winners-feed/style';

.recent-winners {
  .winner-prize,
  .winner-name,
  .win-amount {
    font-size: 1.6rem;
    font-weight: bold;
  }

  .winner-prize {
    display: flex;
    justify-content: center;
  }

  .win-amount {
    color: $white;
    margin-left: 0.4rem;
  }
}
