promo-slider {
  image-container {
    display: block;
    max-height: 48rem;
    overflow: hidden;
  }

  .prev,
  .next {
    background: transparentize($secondary-color-500, 0.5);
    border-radius: 2rem;
    display: none;
    fill: $white;
    height: 3rem;
    justify-content: center;
    padding: 0;
    width: 3rem;

    @media ($medium) {
      display: flex;
    }

    &:hover {
      opacity: 0.8;
    }

    svg {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  .prev {
    left: 1rem;
    transform: $slider-backward-transform;

    @media($medium) {
      left: 3rem;
    }
  }

  .next {
    right: 1rem;
    transform: $slider-forward-transform;

    @media($medium) {
      right: 3rem;
    }
  }

  .secondary-action {
    display: none;
  }

  slider-content-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
  }

  article {
    margin-left: 2rem;
    max-width: 22rem;

    @media($small) {
      max-width: 42rem;
    }

    @media($medium) {
      margin-left: 8rem;
    }

    h1,
    p {
      margin-bottom: $padding / 2;

      @media($small) {
        margin-bottom: $gutter * 2;
      }
    }

    h1 {
      @include responsive-type(14, 52);

      font-family: $body-font;
      font-weight: 900;
      text-transform: uppercase;
    }

    p {
      @include responsive-type(12, 20);
    }

    .primary-action {
      @extend %btn-primary;
      @extend %btn;
      @include responsive-type(10, 16);
    }
  }

  .slider__item--1 {
    h1 {
      color: #ab4fe2;
    }
  }

  .slider__item--2 {
    h1 {
      color: #E6506E;
    }
  }

  .slider__item--3 {
    h1 {
      color: #5BC64F;
    }
  }
}
