@import '../../../../node_modules/@bedegaming/bolt/src/widgets/user/register/style';

user-register {
  overflow: visible;

  h1 {
    margin-bottom: 2rem;
  }

  .step-progress {
    margin-bottom: 3rem;
    text-align: center;
  }

  h2 {
    color: $primary-base;
    font-size: 2.8rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
  }

  form {
    footer {
      margin: 0 0 1.5rem;
    }
  }

  .switch-input-mode {
    color: $primary-color-500;
    font-size: 1.4rem;
    font-weight: normal;
    padding: 0 0 1rem 0.3rem;
    text-align: left;

    &:focus {
      border-color: transparent;
      box-shadow: none;
      outline-style: none;
    }
  }

  .input-container-dob-gender {
    display: flex;
    height: $input-height * 0.4;
    margin-bottom: 0;

    .dob-gender {
      color: $grey;
      height: 2rem;
      margin-bottom: 1rem;
      padding-left: 0.2rem;
      pointer-events: all;
      position: relative;
    }

    .input-group {
      input {
        height: $input-height * 0.5;
        padding: 0;
        pointer-events: all;
        position: relative;
        text-align: center;
      }

      .gender-label {
        height: $input-height * 0.4;
        padding: 1.5rem 0 0;
        pointer-events: all;
        position: relative;

        &::before {
          height: $input-height * 0.4;
          left: 2rem;
          width: $input-height * 0.4;
        }

        &::after {
          height: $input-height * 0.4;
          position: absolute;
          top: 1.5rem;
          width: $input-height * 0.4;
        }
      }
    }

    &.invalid::after {
      margin-top: -1rem;
    }

    &:last-of-type {
      margin-bottom: 1rem;
    }
  }

  .input-container-gender {
    flex-flow: row wrap;
    height: auto;

    .input-group {
      flex-wrap: wrap;

      .gender-label {
        margin-top: 1rem;
        width: 12.2rem;
      }
    }
  }

  .address-search {
    .hide-placeholder {
      &::placeholder {
        color: transparent;
      }

      &:focus::placeholder {
        color: lighten($secondary-base, 20%);
      }
    }
  }

  .input-container {
    &.terms-container {
      justify-content: center;
      margin: 0 0 3rem;
      min-height: 0;
      padding: 0;

      @media ($small) {
        padding: 0 2rem;
      }

      &.checkbox-group {
        input {
          height: 0;
          padding: 0;
        }

        label {
          align-items: flex-start;
          color: $black;
          height: 5rem;
          padding: 0;
          pointer-events: all;
          position: relative;

          &::before {
            margin: 0.4rem 1.5rem 0 0;
          }

          &::after {
            margin-top: 0.4rem;
          }
        }

        p {
          font-size: 1.2rem;
        }
      }
    }

    &.invalid {
      margin-bottom: 0.5rem;

      &::after {
        margin: 0.5rem 0 1rem;
        padding: 0;
        position: inherit;
        text-align: center;
      }
    }
  }

  address-list {
    margin-bottom: 2rem;
  }

  .full-address {
    .input-container {
      min-height: $input-height - 2rem;

      input {
        height: $input-height - 2rem;
      }

      label {
        height: $input-height - 2rem;
      }

      input:focus + label,
      input:valid + label,
      input:focus + .peeky-password + label,
      input:valid + .peeky-password + label {
        transform: translateY(-22%);
      }

      .validation-icon {
        &.validation-icon-skinny {
          &::before,
          &::after {
            top: 20%;
          }
        }

        svg {
          padding-bottom: 2rem;
        }
      }
    }
  }

  .marketing {
    h2 {
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 1rem;
      text-align: left;
    }

    .input-container {
      display: flex;
      margin: 0 auto 1.5rem;
      min-height: 4rem;
      width: 85%;

      input {
        border-color: $secondary-base;
        border-radius: 3px;
        color: $secondary-color-700;
        font-size: 1.8rem;
        font-weight: bold;
        height: 2rem;
        margin: auto;
        padding: 0;
      }

      label {
        &::before {
          border-color: $blue-mid;
        }

        &::after {
          background-color: $blue-mid;
        }
      }

      .marketing-opt {
        color: $black;
        font-weight: normal;
        height: 2rem;
        margin: 0 auto 3rem;
        padding-left: 0;
        pointer-events: all;
        position: relative;

        @media ($small) {
          margin-bottom: 2rem;
        }
      }
    }
  }

  .marketing-policy {
    margin-bottom: 2rem;
    text-align: center;
  }

  small {
    font-size: 0.9rem;
    margin: 2rem 0 1rem;
    text-align: center;
  }

  footer {
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .next,
    .register-end {
      @extend %btn;
      @extend %btn-primary;

      &:first-child &.waiting {
        color: transparent;
      }
    }

    .register-end {
      color: $white;
      margin-bottom: 2rem;
    }
  }

  .login {
    line-height: normal;
    padding-bottom: 0;
  }

  .success-body {
    color: $black;
    margin: 2rem 0;
    text-align: center;
  }
}
