.timeout-terms-list {
  font-size: 1.2rem;
  list-style-position: outside;
  margin-left: 2.5rem;

  li {
    margin-bottom: 1rem;
  }
}

timeout-expanded {
  form {
    .terms-container {
      margin: 0;
      min-height: 4rem;

      label {
        color: $black;
        padding-left: 0;
        pointer-events: all;
      }
    }
  }
}
