{
  "extends": [
    "@bedegaming/eslint-config-bede",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "rules": {
    "react/prop-types": 0,
    "react/display-name": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "./src",
          "./node_modules/@bedegaming/bolt/src",
          "./node_modules"
        ]
      }
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  }
}
