<gambling-container>
  <h1>{{translate "responsible_gambling"}}</h1>
  <section class="reality-checks"></section>
  <section class="break"></section>
  <section class="self-exclude"></section>
  <section class="gamstop"></section>
</gambling-container>
