@import '../../../../../../../node_modules/@bedegaming/bolt/src/widgets/game/list/itemV2/components/details/style';

.game-item {
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(22, 20, 20, 0.05);
  overflow: hidden;
  transition-duration: 300ms;
  transition-property: box-shadow, transform;
  transition-timing-function: ease;

  .display-name-container {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(5px);
    border-radius: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 7rem;
    justify-content: center;
    left: 0;
    padding: 0 1rem;
    position: absolute;
    transition: height 500ms ease, transform 500ms ease;
    transform: translateY(100%);
    width: 100%;

    .display-name {
      @include responsive-type(16, 20);

      color: $black;
      font-weight: bold;
      overflow: hidden;
      margin-bottom: 1rem;
      text-align: center;
      text-overflow: ellipsis;
      text-transform: uppercase;
      transform: translateY(100%);
      transition: transform 500ms ease;
      white-space: nowrap;
    }
  }

  .btn {
    height: 1rem;
    transform: scale(0.8);
    transition-duration: 300ms;
    transition-property: border-radius, height, transform, width;
    transition-timing-function: ease;

    span {
      left: 50%;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%) scale(0.8);
      transition: opacity 500ms ease, transform 500ms ease;
    }
  }

  @media ($medium) {
    &:hover {
      box-shadow: 0 0.8rem 2rem rgba(22, 20, 20, 0.1);
      transform: translateY(-0.5rem);

      .display-name-container {
        height: 14rem;
        transform: translateY(0%);

        .display-name {
          transform: translateY(0);
        }
      }

      .btn {
        height: 5.2rem;
        transform: scale(1);

        span {
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
        }
      }
    }
  }
}
