@import '../../../../node_modules/@bedegaming/bolt/src/widgets/game/banner/style';

game-info-header {
  align-items: center;
  background-color: $cream;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  max-width: none;
  padding: 7rem;
  width: 100%;

  game-overview {
    h1 {
      color: $primary-base;
      font-size: 5.8rem;
      font-weight: 900;
      text-transform: uppercase;
    }
  }
}
