@import '../../../../node_modules/@bedegaming/bolt/src/widgets/game/banner/style';

game-info-header {
  align-items: center;
  background-color: $cream;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  max-width: none;

  .play-buttons {
    padding: 5rem;
  }
}
