@import '../../../node_modules/@bedegaming/bolt/src/widgets/footerV2/style';

.footer {
  background-color: $primary-base;

  li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media ($medium) {
      display: inline-block;
      justify-content: center;
      margin-left: 2rem;
    }
  }

  .compliance-links {
    display: flex;
    margin-top: 3rem;

    .compliance-logo {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 1rem;

      .img-logo {
        height: 4rem;
        width: 15rem;
      }

      .svg-icon {
        fill: transparentize($white, 0.6);

        &.square {
          height: 3rem;
          width: 3rem;
       }

        &.wide {
          height: 4rem;
          width: 6rem;
        }
     }
    }
  }

  .payment-providers {
    .payment-provider {
      .svg-logo {
        fill: transparentize($white, 0.6);
      }
    }
  }
}
