.play-safe {
  background-color: $grey-light;
  border: 1px solid $grey-light;
  box-shadow: $box-shadow;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 3rem auto;
  max-width: 93rem;
  padding: 6rem 2rem 3rem;
  position: relative;
  width: calc(100% - 4rem);

  .title {
    background-color: $white;
    left: 0;
    padding: 3rem;
    position: absolute;
    top: 0;
    width: 100%;

    > h1 {
      color: $grey;
      font-weight: 900;
      margin: 0;
      text-transform: uppercase;
    }
  }

  @media ($small) {
    margin: 3rem auto;
    padding: 12.2rem 3rem 4rem;
    width: calc(100% - 6rem);
  }

  .accordion {
    background-color: $white;
    border-radius: 4px;
    box-shadow: $box-shadow;
    margin-bottom: 3rem;
    max-height: 10rem;
    overflow: hidden;
    padding-left: 13rem;
    padding-right: 10rem;
    position: relative;
    transition: max-height 300ms ease;

    &.open {
      max-height: 30rem;

      .accordion-arrow {
        svg {
          transform: rotateX(180deg);
        }
      }
    }

    &.set {
      box-shadow: $highlight-box-shadow;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .accordion-text {
      padding: 2.6rem 0;

      .accordion-title {
        color: $black;
        font-weight: 700;
        margin: 0;

        .setting-tag {
          background-color: $blue-mid;
          border-radius: 3px;
          color: $white;
          display: inline-block;
          font-size: 1.2rem;
          font-weight: normal;
          margin-left: 1rem;
          padding: 0.1rem 0.6rem;
          position: relative;
          top: -0.4rem;
        }
      }

      .accordion-info {
        padding-left: 2.5rem;
        position: relative;

        svg {
          fill: $blue;
          height: 1.6rem;
          left: 0;
          position: absolute;
          top: 0;
          width: 1.6rem;
        }
      }
    }

    .accordion-icon {
      background-color: $blue;
      bottom: 0;
      left: 0;
      position: absolute;
      top: 0;
      width: 10rem;
    }

    .accordion-arrow {
      align-items: center;
      background-color: $blue-light;
      border-radius: 3px;
      bottom: 3rem;
      cursor: pointer;
      display: flex;
      height: 4rem;
      justify-content: center;
      position: absolute;
      right: 3rem;
      width: 4rem;

      svg {
        fill: $blue-dark;
        transition: transform 300ms ease;
        width: 2rem;
      }
    }

    .accordion-content {
      padding-bottom: 3rem;
    }

    &.deposit-limit {
      .accordion-icon {
        background-color: #FFE8E8;

        svg {
          fill: #C43434;
        }
      }
    }

    &.loss-limit {
      .accordion-icon {
        background-color: #FFF7D8;

        svg {
          fill: #BB5537;
        }
      }
    }

    &.stake-limit {
      .accordion-icon {
        background-color: #CBFFE0;

        svg {
          fill: #74BD92;
        }
      }
    }

    &.time-out {
      .accordion-icon {
        background-color: #CCF3FF;

        svg {
          fill: #467BBA;
        }
      }
    }

    &.reality-check {
      .accordion-icon {
        background-color: #F1E5FF;

        svg {
          fill: #835094;
        }
      }
    }

    &.self-exclusion {
      .accordion-icon {
        background-color: #FDE3FF;

        svg {
          fill: #BA46BA;
        }
      }
    }
  }
}
