user-forgot-password {
  display: flex;
  justify-content: center;

  forgot-password-container {
    background: $white;
    border-radius: 10px;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    margin: 3rem;
    padding: 3rem;

    @media ($large) {
      min-width: 60rem;
    }

    h1 {
      color: $primary-base;
      font-size: 2rem;
      font-weight: 900;
      margin: 0 0 2rem;
      text-align: center;
      text-transform: uppercase;

      @media ($large) {
        font-size: 3rem;
      }
    }

    form {
      footer {
        display: flex;
        justify-content: center;
      }

      .input {
        margin-bottom: 2rem;
        min-height: $input-height;
        position: relative;

        input,
        select {
          border-color: $secondary-base;
          border-radius: 3px;
          color: $secondary-color-700;
          font-size: 1.8rem;
          font-weight: bold;
          height: $input-height;
          padding: 2rem;

          &.peeky {
            padding-right: 4rem;
          }

          &:disabled {
            color: $grey;
          }

          &:focus {
            color: $secondary-color-700;
          }
        }

        label {
          font-size: 1.4rem;
          font-weight: normal;
          transform: translateY(-120%);
        }
      }
    }
  }
}

