// ------------------------------------------
// Styles for Games Container
// ------------------------------------------

@import '../../../../../node_modules/@bedegaming/bolt/src/widgets/game/list/itemV2/container';

games-container {
  border: 1px solid $pale-grey;
  box-shadow: 0 4px 10px rgba(22, 20, 20, 0.05);
  flex: 1;
  margin: 3rem 0;
  max-width: 130rem;
  width: calc(100% - 6rem);
}

.games-page {
  max-width: 130rem;
  width: calc(100% - 6rem);

  games-container {
    max-width: none;
    width: 100%;
  }
}

games-area {
  padding: 0 3rem 3rem;
}
