// ------------------------------------------
// Games list view
// ------------------------------------------

games-page {
  &:not(.games-overview) {
    .list-style {
      game-list {
        grid-gap: 0;
        grid-template-columns: 100%;
      }

      games-area {
        padding: 0 1.5rem 4rem;
      }

      filter {
        @include breakpoint(reverse-medium) {
          margin-bottom: 1.5rem;
        }
      }

      .game-item {
        background: $games-item-listview-bg-even;
        border-bottom: $games-item-listview-border;
        border-radius: 0;
        flex: 1 1 auto;
        padding: 0.8rem 1rem;
        width: 100%;

        &:nth-child(odd) {
          background: $games-item-listview-bg-odd;
        }

        > div {
          box-shadow: none;
        }

        &.ghost {
          display: none;
        }

        @include breakpoint(reverse-medium) {
          padding: 0.5rem;
        }

        @include breakpoint(medium) {
          &:hover {
            background: $games-item-listview-bg-hover;
          }
        }
      }

      .loading {
        grid-gap: 0;
        grid-template-columns: 100%;
        padding: 0;

        .game-item {
          max-height: 4rem;
          width: 100%;
        }
      }

      .image-container {
        align-items: center;
        border-radius: 0;
        display: flex;
        flex-shrink: 0;
        overflow: visible;
        width: 6rem;

        figure {
          background: none;
          display: flex;
          height: 4rem;
          padding: 0;
        }

        .game-thumb {
          background: $game-item-image-background;
          border-radius: 0.5rem;
          height: 100%;
          transform: none;
          width: 6rem;
        }

        .info,
        &::before {
          display: none;
        }
      }

      .jackpot-amount {
        display: none;
      }

      .display-name {
        color: $games-item-extra-info-color;
        font-size: $games-item-extra-info-font-size;
        font-weight: $games-item-extra-info-font-weight;
      }

      .display-name-container {
        background: 0;
        border-radius: 0;
        width: 50%;
      }

      .info-enabled {
        flex-direction: row;

        @include breakpoint(reverse-medium) {
          flex-wrap: wrap;
        }
      }

      .more-details {
        display: flex;
        width: 100%;

        @include breakpoint(reverse-medium) {
          .extra-info {
            display: none;
          }

          &.show-details {
            .extra-info {
              display: flex;

              ul {
                flex-wrap: wrap;
                margin: 1rem;
              }

              span {
                display: block;
              }

              li {
                flex: 1 0 auto;
                margin: 0.5rem 0;
                width: 50%;
              }
            }

            .more {
              span {
                transform: rotate(90deg);
              }
            }
          }
        }
      }

      .extra-info {
        color: $games-item-extra-info-color;
        display: flex;
        width: 100%;

        ul {
          align-items: center;
          display: flex;
          font-size: $games-item-extra-info-font-size;
          margin: 0;
          padding-right: 1rem;
          width: 100%;

          @supports (display: grid) {
            display: grid;
            grid-template-areas: 'paylines rtp min max';
            grid-template-columns: repeat(4, 1fr);

            .paylines {
              grid-area: paylines;
            }

            .rtp {
              grid-area: rtp;
            }

            .min {
              grid-area: min;
            }

            .max {
              grid-area: max;
            }

            @media (max-width: 850px) and (min-width: 701px) {
              grid-template-areas: 'rtp min max';
              grid-template-columns: repeat(3, 1fr);
              padding-left: 2rem;
            }
          }

          @include breakpoint(reverse-medium) {
            display: flex;
            padding-left: 2rem;
          }

          li {
            flex: 1 1 0;
            list-style: none;

            @media (max-width: 850px) and (min-width: 701px) {
              &:nth-child(1) {
                display: none;
              }
            }
          }
        }

        .info {
          align-items: center;
          bottom: 0;
          display: flex;
          position: relative;
          top: 0;

          svg {
            fill: $games-item-extra-info-icon-bg;
            height: 2.2rem;
            pointer-events: none;
            width: 2.2rem;
          }

          &:hover {
            svg {
              fill: $games-item-extra-info-icon-bg-hover;
            }
          }
        }

        @include breakpoint(reverse-medium) {
          .info {
            margin-left: 1.4rem;
            order: -1;

            svg {
              height: 2.5rem;
              width: 2.5rem;
            }
          }
        }

        .title {
          font-weight: $games-item-extra-info-titles-font-weight;
          margin-right: 0.5rem;
        }
      }

      .more {
        align-items: center;
        background: none;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        display: none;
        height: 5rem;
        justify-content: center;
        margin: -1rem;
        order: 1;
        padding: 0;
        width: 5rem;

        &:active {
          transform: none;
        }

        span {
          align-items: center;
          background: $games-item-extra-info-button;
          border-radius: 2rem;
          display: flex;
          height: 2.4rem;
          justify-content: center;
          pointer-events: none;
          transform: rotate(-90deg);
          width: 2.4rem;
        }

        svg {
          fill: $white;
          height: 1.2rem;
          pointer-events: none;
          width: 1.2rem;
        }

        @include breakpoint(reverse-medium) {
          display: flex;
          position: absolute;
          right: 0;
          top: 0.5rem;
        }
      }
    }
  }
}
