@import '../../../node_modules/@bedegaming/bolt/src/widgets/balance/style';

@keyframes menuToggle {
  from {
    line-height: 1rem;
    max-height: 0;
    opacity: 0;
    padding: 0 2rem;
    transform: scale(0.95);
  }

  to {
    line-height: 2rem;
    max-height: 50rem;
    opacity: 1;
    padding: 2rem;
    transform: scale(1);
  }
}

// $blue-dark: #3c4466;

app-hub {
  total-balance {
    margin: 0;
    min-width: 14rem;
    top: 5.8rem;

    @media ($medium) {
      top: auto;
    }
  }

  .balance-list {
    align-items: center;
    background-color: $blue-light;
    border-radius: 5px;
    font-size: 1.4rem;
    height: 100%;
    padding: 0;

    // &:hover {
    //   background-color: $blue-mid;
    // }

    @media ($medium) {
      font-size: 1.6rem;
      // padding: 1rem 2rem;
    }

    svg {
      fill: $blue-mid;
      transition: fill 200ms ease;
      width: 0.8rem;
    }

    .wallets {
      background-color: $blue-light;
      border-radius: 0 0 5px 5px;
      box-shadow: $common-box-shadow;
      font-weight: normal;
      height: auto;
      left: auto;
      line-height: 1rem;
      max-height: 0;
      min-width: 100%;
      opacity: 0;
      overflow: hidden;
      padding: 0 2rem;
      position: absolute;
      right: 0;
      top: 100%;
      transform: scale(0.95);
      transform-origin: top;
      transition-duration: 300ms;
      transition-property: line-height, max-height, opacity, padding, transform;
      transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
      visibility: visible;
      width: auto;

      @media ($large) {
        left: 0;
        right: auto;
      }
    }

    &.open {
      border-radius: 3px 3px 0 0;
      height: 100%;

      .wallets {
        line-height: 2rem;
        max-height: 50rem;
        opacity: 1;
        padding: 1rem;
        transform: scale(1);

        @media ($medium) {
          padding: 2rem;
        }
      }
    }

    &.secret {
      .wallets {
        visibility: hidden;
      }
    }
  }

  .balance-group {
    align-items: center;
    color: $blue-dark;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1.5rem;
  }

  .hide-balance {
    align-items: center;
    background-color: $blue-mid;
    border-radius: 5px 0 0 5px;
    display: flex;
    height: 5rem;
    justify-content: center;
    margin-right: 1rem;
    min-width: 3.5rem;
    width: 3.5rem;

    svg {
      fill: $white;
      pointer-events: none;
      width: 2rem;
    }

    .hidden {
      display: none;
    }

    &:hover {
      svg {
        fill: $blue-dark;
      }
    }
  }

  .secret {
    main-balance {
      // width: 6.5rem;

      @media ($large) {
        margin-bottom: 1rem;
        // width: 6rem;
      }

      &::before {
        opacity: 1;
      }

      &::after {
        content: '...';
        font-size: 1.6rem;
        // margin-bottom: 1rem;
        // position: absolute;
        text-align: center;
        // top: 0;
        width: 3rem;

        // @media($large) {
          // top: 0.7rem;
        // }
      }

      span {
        display: none;
      }
    }

    .hide-balance {
      margin-right: 4rem;

      .hidden {
        display: block;
        margin-top: 0.5rem;
        width: 2rem;
      }

      .shown {
        display: none;
      }
    }

    .toggle-wallets {
      display: none;
    }
  }

  main-balance {
    margin-right: 0.5rem;
    transition: color 300ms ease;

    // &:hover {
    //   color: $blue-mid;
    // }
  }

  sub-balance {
    color: $blue-mid;
    flex-direction: row;
    font-size: 1.4rem;
    margin-bottom: 1rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin: 0;
    }

    @media ($medium) {
      flex-direction: column;
      font-size: 1.6rem;
    }
  }

  wallet-name {
    color: $grey-dark;
  }

  wallet-value {
    color: $blue-dark;
    font-weight: bold;
  }
}
