@import '../../../node_modules/@bedegaming/bolt/src/widgets/balance/style';

@keyframes menuToggle {
  from {
    line-height: 1rem;
    max-height: 0;
    opacity: 0;
    padding: 0 2rem;
    transform: scale(0.95);
  }

  to {
    line-height: 2rem;
    max-height: 50rem;
    opacity: 1;
    padding: 2rem;
    transform: scale(1);
  }
}

app-hub {
  total-balance {
    background-color: $blue-light;
    justify-content: center;
    margin: 0;
    min-width: 14rem;
    top: 5.8rem;

    @media ($medium) {
      background-color: $white;
      justify-content: space-between;
      top: auto;
    }
  }

  .balance-list {
    align-items: center;
    background-color: $blue-light;
    flex-wrap: nowrap;
    font-size: 1.4rem;
    height: 100%;
    padding: 0;
    width: auto;

    @media ($medium) {
      border-radius: 5px;
      font-size: 1.6rem;
      width: 100%;
    }

    svg {
      fill: $blue-dark;
      transition: fill 200ms ease;
      width: 1.2rem;

      @media ($medium) {
        margin-bottom: 0.2rem;
      }
    }

    .wallets {
      background-color: $blue-light;
      border-radius: 0 0 5px 5px;
      box-shadow: $common-box-shadow;
      font-weight: normal;
      height: auto;
      left: auto;
      line-height: 1rem;
      max-height: 0;
      min-width: 100%;
      opacity: 0;
      overflow: hidden;
      padding: 0 2rem;
      position: absolute;
      right: 0;
      top: 100%;
      transform: scale(0.95);
      transform-origin: top;
      transition-duration: 300ms;
      transition-property: line-height, max-height, opacity, padding, transform;
      transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
      visibility: visible;
      width: auto;

      @media ($large) {
        left: 0;
        right: auto;
      }
    }

    &.open {
      border-radius: 3px 3px 0 0;
      height: 100%;

      .wallets {
        line-height: 2rem;
        max-height: 50rem;
        opacity: 1;
        padding: 1rem;
        transform: scale(1);

        @media ($medium) {
          padding: 2rem;
        }
      }

      .toggle-wallets {
        svg {
          margin: 0.2rem 0 0;
        }
      }
    }

    &.secret {
      .wallets {
        visibility: hidden;
      }
    }
  }

  .balance-group {
    align-items: center;
    color: $blue-dark;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    @media ($medium) {
      justify-content: flex-end;
      margin-right: 1.2rem;
    }
  }

  .hide-balance {
    align-items: center;
    background-color: $blue-light-2;
    border-radius: 50%;
    display: flex;
    height: 2.2rem;
    justify-content: center;
    margin: 0.3rem 1.5rem 0.3rem 0;
    min-width: 2.2rem;
    width: 2.2rem;

    @media ($medium) {
      border-radius: 5px 0 0 5px;
      height: 5rem;
      margin: 0 1rem 0 0;
      min-width: 3.5rem;
      width: 3.5rem;
    }

    svg {
      fill: $blue-dark;
      pointer-events: none;
      width: 1.8rem;

      @media ($medium) {
        height: 2.2rem;
        width: 2.2rem;
      }
    }

    .hidden {
      display: none;
    }

    &:hover {
      svg {
        fill: lighten($blue-dark, 30%);
      }
    }
  }

  .toggle-wallets {
    margin-right: 0;

    @media ($medium) {
      margin-left: 0.7rem;
    }
  }

  .secret {
    main-balance {
      padding-bottom: 0.7rem;

      @media ($medium) {
        padding-bottom: 0;
      }

      @media ($large) {
        margin-bottom: 1rem;
      }

      &::before {
        opacity: 1;
      }

      &::after {
        content: '...';
        font-size: 1.6rem;
        margin-left: 3rem;
        text-align: center;
        width: 3rem;

        @media ($medium) {
          margin-left: 0;
        }
      }

      span {
        display: none;
      }
    }

    .balance-group {
      justify-content: flex-start;
      min-width: 10rem;

      @media ($medium) {
        justify-content: center;
      }
    }

    .hide-balance {
      margin-right: 0;

      .hidden {
        display: block;
        margin-top: 0.5rem;
        width: 1.8rem;

        @media ($medium) {
          width: 2rem;
        }
      }

      .shown {
        display: none;
      }
    }

    .toggle-wallets {
      display: none;
    }
  }

  main-balance {
    transition: color 300ms ease;
  }

  sub-balance {
    flex-direction: row;
    font-size: 1.4rem;
    justify-content: center;
    margin-bottom: 1rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin: 0;
    }

    @media ($medium) {
      flex-direction: column;
      font-size: 1.6rem;
    }
  }

  wallet-name {
    color: $grey-dark;
    flex: 0;

    @media ($medium) {
      flex: 1;
    }
  }

  wallet-value {
    color: $blue-dark;
    flex: 0;
    font-weight: bold;

    @media ($medium) {
      flex: 1;
    }
  }
}
