@import '../../../node_modules/@bedegaming/bolt/src/widgets/hub/style';

app-hub {
  background: none;
  margin: 0;
  max-width: none;
  padding: 0 2rem;

  .logo {
    display: inline-block;

    svg {
      color: #db0e17;
      height: 3.8rem;
      width: 11.1rem;
    }

    @media($hub-min-width) {
      margin-right: 3rem;
    }
  }

  nav-container {
    background: none;

    .main-nav {
      justify-content: flex-start;

      .nav-item {
        position: relative;

        a {
          display: flex;
          font-size: 1.8rem;
          padding: 2rem 3rem;

          .item-text {
            color: $nav-item-color;
            font-weight: 900;
            text-transform: uppercase;
          }

          &.account-link {
            padding-right: 4rem;

            .item-icon {
              display: flex;
              justify-content: center;
              position: absolute;
              right: 2.5rem;
              top: 50%;
              transform: translateY(-50%);

              svg {
                width: 0.825rem;
              }
            }

            .item-text {
              color: $primary-base;
              font-weight: bold;
            }
          }

          &.inbox-link {
            &.inbox-badge::after {
              margin-left: 1rem;
              position: static;
            }
          }
        }

        .sub-menu {
          align-items: stretch;
          background-color: rgba(255, 255, 255, 0.95);
          backdrop-filter: blur(5px);
          box-shadow: 0 6px 8px rgba(22, 20, 20, 0.1);
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          left: 50%;
          opacity: 0;
          padding: 2rem;
          pointer-events: none;
          position: absolute;
          transform: translateX(-50%) scale(0.95);
          transform-origin: top;
          transition: transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms ease;
          width: 20rem;

          .sub-menu-item {
            line-height: 1rem;
            margin: 0;
            transition: line-height 300ms cubic-bezier(0, 0.85, 0.45, 1);

            a {
              color: $nav-item-color;
              font-size: 1.6rem;
              opacity: 0;
              padding: 0.8rem 2rem;
              transition: color 300ms ease, padding 300ms cubic-bezier(0.165, 0.84, 0.44, 1), border 300ms ease, opacity 400ms ease;
            }
          }
        }

        &.account {
          margin: 0;
          position: absolute;
          right: 5.5rem;
        }

        &.inbox-container {
          position: absolute;
          right: 1rem;
          top: 0;
        }

        &:hover {
          .sub-menu {
            opacity: 1;
            pointer-events: all;
            transform: translateX(-50%) scale(1);

            .sub-menu-item {
              line-height: 2.5rem;

              a {
                align-items: center;
                color: darken($nav-item-color, 10%);
                display: flex;
                opacity: 1;
                position: relative;

                &:before {
                  background-color: $primary-base;
                  content: '';
                  left: 1rem;
                  height: 0;
                  position: absolute;
                  transition: height 300ms ease;
                  width: 2px;
                }

                &:hover {
                  padding-left: 2.5rem;

                  &:before {
                    height: 50%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .nav-buttons {
    display: flex;

    .btn:last-child {
      margin-left: 2rem;
    }
  }

  .button-container {
    display: flex;
    flex-wrap: nowrap;

    .btn {
      margin: 0 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  header-right {
    .button-container {
      display: none;
    }
  }

  @media($hub-min-width) {
    header-right {
      width: auto;

      .button-container {
        display: flex;
      }
    }
  }
}
