@import '../../../node_modules/@bedegaming/bolt/src/widgets/hub/style';

app-hub {
  nav-container {

    .item-text {
      color: #3E3135;
      font-weight: 900;
      text-transform: uppercase;
    }

  }
}
