@import '../../../../node_modules/@bedegaming/bolt/src/widgets/user/profile/style';

profile-area {
  padding: 0;

  user-info {
    margin: 1.5rem auto;
    max-width: 130rem;

    @media ($small) {
      width: calc(100% - 6rem);
    }

    @media ($medium) {
      margin-top: 0;
    }
  }

  h2 {
    color: $grey;
    font-size: 2.2rem;
    font-weight: 900;
    margin-bottom: 3rem;
    text-transform: uppercase;

    @media ($small) {
      font-size: 2.8rem;
    }
  }

  personal-section,
  marketing-prefs,
  .balance-section {
    background: $white;
    border: 1px solid $light-grey;
    box-shadow: $common-box-shadow;
    flex: 1;
    margin: 1rem 2rem;
    padding: 2rem;
    width: 100%;

    @media($small) {
      margin: 1.5rem 0;
      min-width: 100%;
      padding: 3rem;
    }

    @media($medium) {
      margin: 3rem 1.5rem 3rem 0;
      min-width: 32rem;
      width: 50%;
    }

    .btn {
      border-radius: 4px;
      border-width: 2px;
      flex: 1;
      font-size: 1.4rem;
      margin: 0 1rem 2rem;
      max-width: 27rem;
      min-width: 22rem;
      padding: 1.5rem;
      width: 50%;

      @media ($small) {
        font-size: 1.6rem;
        margin: 0 1.5rem 3rem;
        max-width: 27rem;
        min-width: 22rem;
      }
    }
  }

  .user-details {
    background: $white;
    margin-bottom: 3rem;
    padding: 0;

    h3 {
      color: $grey;
      font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .undisclosed {
      color: $black;
    }
  }

  .updates-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  personal-section {
    order: 0;
    position: relative;

    .spinner {
      -ms-transform: translateZ(0);
      -webkit-animation: spinload 1.1s infinite linear;
      -webkit-transform: translateZ(0);
      animation: spinload 1.1s infinite linear;
      border-bottom: 4px solid lighten($primary-base, 40%);
      border-left: 4px solid $primary-base;
      border-radius: 50%;
      border-right: 4px solid lighten($primary-base, 40%);
      border-top: 4px solid lighten($primary-base, 40%);
      bottom: 43rem;
      font-size: 1.5rem;
      height: 2.5rem;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      text-indent: -9999em;
      top: 0;
      transform: translateZ(0);
      width: 2.5rem;
    }

    .spinner::after {
      border-radius: 50%;
      height: 2.5rem;
      width: 2.5rem;
    }

    @-webkit-keyframes spinload {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @keyframes spinload {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }

  marketing-prefs {
    order: 2;

    @media($medium) {
      margin: 3rem 0 3rem 1.5rem;
      order: 1;
    }

    p {
      margin-bottom: 1.5rem;
    }

    .input-container {
      align-items: center;
      margin-bottom: 2rem;
      min-height: auto;
      padding-top: 1.5rem;

      @media ($small) {
        margin-bottom: 3rem;
      }
    }

    .input-group {
      flex-flow: column wrap;
      width: 12rem;
    }

    label {
      margin-bottom: 1.5rem;
    }

    footer {
      text-align: center;

      .btn {
        margin-bottom: 0;
      }
    }
  }

  .balance-section {
    margin: 1rem 2rem 2rem;
    order: 1;

    @media ($small) {
      flex: none;
      margin: 1.5rem 0;
    }

    @media ($medium) {
      margin: 0 0 1.5rem;
      order: 2;
      width: 100%;
    }
  }

  user-wallets {
    section {
      background: $white;
      border-bottom: 1px solid $grey;
      padding: 0 0 3rem;
    }

    wallet-name {
      color: $grey;
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 2rem;

      @media ($small) {
        font-size: 2rem;
      }
    }

    wallet-value {
      font-size: 1.6rem;
      line-height: 2rem;

      @media ($small) {
        font-size: 1.8rem;
      }
    }

    total-balance {
      align-items: flex-end;
      border: 0;
      margin-bottom: 1.5rem;
      padding-bottom: 0;
    }

    sub-balance {
      align-items: center;
      margin-bottom: 1.5rem;

      wallet-name {
        color: lighten($grey, 20%);
      }

      wallet-value {
        color: $grey;
      }
    }
  }

  pending-withdrawals {
    &.account-pending-withdrawals {
      margin: 0;

      &.large {
        grid-content {
          @media ($medium) {
            padding: 1.5rem 3rem;
          }
        }

        .amount {
          font-size: 2.2rem;
          font-weight: normal;
        }

        .time {
          margin-bottom: 0;
        }
      }
    }

    h2 {
      font-size: 1.8rem;
      font-weight: bold;
      margin: 3rem 0 2rem;
      text-transform: capitalize;

      @media ($small) {
        font-size: 2rem;
        margin-bottom: 3rem;
      }
    }

    div {
      text-align: center;
      width: 100%;

      @media ($medium) {
        text-align: left;
      }
    }

    p {
      margin-bottom: 2rem;
      text-align: left;

      @media ($small) {
        margin-bottom: 3rem;
      }
    }

    .btn {
      &.btn-primary {
        margin-bottom: 0;
        min-width: 22rem;
        overflow: inherit;
        padding: 1.9rem;

        @media ($small) {
          font-size: 1.6rem;
          width: 25rem;
        }
      }
    }

    .pending-withdrawals-grid {
      flex-flow: column nowrap;

      grid-content {
        flex-flow: column nowrap;
        padding: 2rem;

        @media ($small) {
          flex-flow: row nowrap;
        }
      }

      li {
        margin: 0 0 1.5rem;
        max-width: none;
        padding: 0;

        &:only-child {
          margin-bottom: 0;
          max-width: none;
        }
      }

      .btn
      &.btn-primary {
        margin: 0;
        min-width: 14rem;
        padding: 1.5rem;

        @media ($small) {
          font-size: 1.4rem;
          margin: 0 0 0 1.5rem;
        }

        @media ($medium) {
          font-size: 1.6rem;
          min-width: 22rem;
          padding: 1.7rem;
        }

        &.deposit {
          margin-left: 0;
          max-width: 27rem;
          min-width: 22rem;
          padding: 1.7rem;

          @media ($small) {
            font-size: 1.6rem;
          }
        }
      }
    }

    .pending-details {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      @media ($small) {
        align-items: flex-start;
        margin-bottom: 0;
      }
    }

    hr {
      display: none;
    }
  }
}
