@import '../../../../node_modules/@bedegaming/bolt/src/widgets/user/inbox/style';

.player-inbox {
  .inbox-container {
    background-color: $white;
    box-shadow: 0 4px 10px rgba(22, 20, 20, 0.1); //sass-lint:disable-line no-color-literals
    margin: 3rem auto;
    max-width: $max-width;

    h1 {
      background-color: $white;
      color: darken($secondary-base, 10%);
      font-size: 2.2rem;
      font-weight: 900;
      height: auto;
      margin: 2rem 2rem 1rem;
      padding-top: 0;
      text-align: left;
      text-transform: uppercase;
      width: auto;

      @media ($small) {
        font-size: 2.8rem;
        margin: 3rem 3rem 1.5rem;
      }
    }

    .unread-message-count {
      color: $primary-base;
      font-size: 1.4rem;
      font-weight: bold;
      margin: 0 2rem 1rem;
      text-align: left;
      text-transform: uppercase;

      @media ($small) {
        margin: 0 3rem 1.5rem;
      }
    }

    .inbox-options {
      border: 0;
      padding: 0 2rem;

      @media ($small) {
        margin-bottom: 2rem;
        padding: 0 3rem;
      }
    }

    .inbox-area {
      background-color: $grey-light;
      border: 0;
      padding: 2rem;

      @media ($small) {
        padding: 3rem;
      }
    }

    .message-item {
      background-color: $white;
      box-shadow: $lighter-box-shadow;
      margin-bottom: 0.5rem;

      &:hover {
        box-shadow: $box-shadow;
        opacity: 0.6;
      }

      &.unread {
        border: 0;
        opacity: 1;
      }

      .checkbox-group {
        display: flex;
        margin: auto 2rem;
        padding: 0;

        label {
          margin: auto;
          width: 15px;
        }
      }

      .message-details {
        .message-info {
          .subject {
            margin-bottom: 0;
          }
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .pagination {
      display: flex;
      height: auto;
      margin: 3rem auto 0;
      width: 100%;

      @media ($large) {
        width: 30%;
      }

      button {
        @extend %btn;
        @extend %btn-primary;
        // @include responsive-type(10, 14);
        margin: auto;
        width: 30%;

        &.disabled {
          display: none;
        }
      }
    }
  }
}
