filter {
  background: $white;
}

.tabs-wrapper {
  background: $white;
  display: flex;
  justify-content: center;

  .subnav {
    background: $pale-grey;
  }
}

[role='tablist'] {
  border: 0;
  display: flex;
  justify-content: center;
}

[role='tab'] {
  background: $white;
  display: flex;
  flex: none;
  font-weight: bold;
  justify-content: center;
  padding: 3.1rem 1.5rem;
  width: 18rem;



  &:hover {
    border-bottom: 0.4rem solid $primary-base;
    color: $primary-base;
  }

  &[aria-selected='true'] {
    background-color: $white;
    border-bottom: 4px solid $primary-base;
    border-top: 4px solid $white;
    color: $primary-base;
    font-weight: 900;

    &:hover {
      border-bottom: 0.4rem solid $primary-base;
      color: $primary-base;
    }
  }

  &[aria-selected='false'] {
    border-bottom: 4px solid $white;
    border-top: 4px solid $white;
    color: $black;

    &:hover {
      border-bottom: 4px solid $primary-base;
      color: $primary-base;
    }
  }
}

button {
  border: 0;
}
