<user-info>
  <personal-details></personal-details>
  <marketing-preferences></marketing-preferences>
  <div class="balance-section">
    <h2>{{translate "profile_balance_title"}}</h2>
    <wallets-area></wallets-area>
    <pending-withdrawals></pending-withdrawals>
  </div>
</user-info>
