<user-info>
  <personal-details></personal-details>
  <marketing-preferences></marketing-preferences>
  <div class="balance-section">
    <pending-withdrawals></pending-withdrawals>
    <wallets-area></wallets-area>
  </div>
</user-info>
