@font-face {
  font-family: 'worksans';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/worksans/worksans-regular.woff') format('woff');
}

@font-face {
  font-family: 'worksans';
  font-style: normal;
  font-weight: bold;
  src: url('/../assets/fonts/worksans/worksans-bold.woff') format('woff');
}

@font-face {
  font-family: 'worksans';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/worksans/worksans-black.woff') format('woff');
}
