@font-face {
  font-family: 'worksans';
  font-style: normal;
  font-weight: normal;
<<<<<<< HEAD
  src: url('/assets/fonts/worksans-regular.woff') format('woff');
=======
  src: url('/assets/fonts/worksans/worksans-regular.woff') format('woff');
>>>>>>> added font to site
}

@font-face {
  font-family: 'worksans';
  font-style: normal;
  font-weight: bold;
<<<<<<< HEAD
  src: url('/assets/fonts/worksans-bold.woff') format('woff');
=======
  src: url('/../assets/fonts/worksans/worksans-bold.woff') format('woff');
>>>>>>> added font to site
}

@font-face {
  font-family: 'worksans';
  font-style: normal;
  font-weight: 900;
<<<<<<< HEAD
  src: url('/assets/fonts/worksans-black.woff') format('woff');
=======
  src: url('/assets/fonts/worksans/worksans-black.woff') format('woff');
>>>>>>> added font to site
}
