<game-info-header class="{{#if bannerRelatedGames}}related-games{{/if}}">
  <div class="play-buttons-region"></div>
</game-info-header>
<div class="game-info-wrapper">
  <game-banner></game-banner>
  <related-games></related-games>
  <game-info></game-info>
</div>
