@import '../../../../node_modules/@bedegaming/bolt/src/widgets/user/login/style';

$input-height: 8rem;

dialog {
  border: 0.5rem solid $white;
  border-radius: 5px;

  close-modal {
    display: none;
  }

  user-login {
    overflow: visible;

    h1 {
      @include responsive-type(30, 36);
      color: #e6506e;
      font-weight: 900;
      margin-bottom: 3rem;
      text-align: center;
      text-transform: uppercase;
    }

    form {
      height: auto;

      div.input-container {
        height: $input-height;
        min-height: unset;
        position: relative;

        input {
          border-color: $secondary-base;
          border-radius: 3px;
          color: $secondary-color-700;
          font-size: 1.8rem;
          font-weight: bold;
          height: $input-height;
          padding: 3.5rem 2rem 2rem;
        }

        input:focus {
          color: $secondary-color-700;
        }

        label {
          align-items: center;
          color: $secondary-color-700;
          display: flex;
          font-size: 1.8rem;
          font-weight: bold;
          height: $input-height;
          padding-left: 2rem;
          pointer-events: none;
          position: absolute;
          transition: all 300ms ease;
          width: 100%;
        }

        @mixin minimized-label {
          color: $secondary-color-500;
          font-size: 1.4rem;
          font-weight: normal;
          transform: translateY(-20%);
        }

        input:focus + label {
          @include minimized-label
        }

        input:valid + label {
          @include minimized-label;
        }

        input:not[value=''] + label {
          @include minimized-label
        }

        input:focus + button.peeky-password + label {
          @include minimized-label
        }

        input:valid + button.peeky-password + label {
          @include minimized-label
        }

        input:not[value=''] + button.peeky-password + label {
          @include minimized-label
        }

        button.peeky-password {
          height: auto;
          line-height: normal;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);

          svg {
            margin: auto;
            position: relative;
            transform: none;
          }

          &:focus {
            outline: auto 5px -webkit-focus-ring-color;
          }
        }

        &.valid {
          input {
            border-color: #56E165;
          }
        }
      }

      .forgot-password {
        color: $primary-base;
        cursor: pointer;
        font-size: 1.3rem;
        margin-bottom: 2rem;
        padding-left: 2px;

        &:focus {
          text-decoration: underline;
        }
      }

      footer {
        justify-content: center;
        margin-bottom: 3rem;
        margin-top: 0;

        button.primary-action {
          @extend %btn;
          @extend %btn-primary;
          @include responsive-type(10, 16);
        }

        > * {
          flex: none;
        }
      }

      button.register {
        color: $dark-blue;
        font-size: 1.6rem;
        margin: 0;

        span {
          color: $primary-base;

          &:hover {
            color: orange;
          }
        }
      }
    }
  }
}
