@import '../../../../node_modules/@bedegaming/bolt/src/widgets/user/promotionsV2/style';

.promotions-group-container {
  margin-top: 3rem;

  @media ($medium) {
    margin-top: 0;
  }
}

.promotions-container {
  background-color: $light-grey;
  padding: 0;

  h1 {
    color: $primary-base;
    font-size: 3rem;
    font-weight: 900;
    margin: 3rem 0;
    text-align: center;
    text-transform: uppercase;

    @media ($small) {
      font-size: 3rem;
    }
  }
}

.promotion-section {
  background-color: $light-grey;
  flex: 1;
  margin: 0 auto 2rem;
  max-width: 130rem;
  width: calc(100% - 4rem);

  @media ($small) {
    margin: 0 auto 3rem;
    width: calc(100% - 6rem);
  }

  &.content {
    display: none;
  }

  h2 {
    display: none;
  }
}
