// ------------------------------------------
// Styles for Search icon
// ------------------------------------------

@import '../../../../node_modules/@bedegaming/bolt/src/widgets/game/list/search';

[role='tablist'] {
  .search {
    span {
      span {
        display: none;

        @media ($large) {
          display: block;
        }
      }
    }
  }
}

// ------------------------------------------
// Styles for Search dialog
// ------------------------------------------

.search-dialog {
  background-color: $search-dialog-overlay-background;

  // &::before {
  //   height: 3rem;
  // }

  close-modal {
    @media ($medium) {
      right: 2rem;
      top: 2rem;
    }

    svg {
      fill: $white;
      height: 1.6rem;
      width: 1.6rem;

      @media ($medium) {
        height: 2rem;
        width: 2rem;
      }
    }
  }

  dialog {
    padding: 0 3rem;
    z-index: 2;

    @media ($small) {
      padding: 0 4.5rem;
    }

    @media ($medium) {
      padding: 0 6rem;
    }
  }

  games {
    padding: 4rem 0 3rem;

    @media
    ($medium) {
      padding: 6rem 0 3rem;
    }
  }

  .input-container {
    padding-bottom: 3rem;
    position: relative;
    top: 0;
    left: 0;
    right: 0;

    input {
      border-bottom-color: $white;
      color: $white;
      font-size: 2.4rem;
      font-weight: bold;
      height: 4rem;
      padding-left: 2.8rem;
        text-shadow: none;

      @media ($medium) {
        font-size: 3rem;
        height: 5rem;
        padding-left: 4rem;
      }

      &::placeholder {
        font-weight: bold;
        opacity: 0.7;
      }

      &:focus + svg {
        fill: $white;
      }
    }

    svg {
      left: -0.5rem;
      padding: 0;
      top: -0.2rem;
      width: 2rem;

      @media ($medium) {
        bottom: 0;
        top: 0.3rem;
        width: 2.4rem;
      }
    }
  }

  .loading {
    color: $blue;
  }
}
