// ------------------------------------------
// Styles for Search icon
// ------------------------------------------

@import '../../../../node_modules/@bedegaming/bolt/src/widgets/game/list/search';

[role='tablist'] {
  .search {
    span {
      span {
        display: none;

        @media ($large) {
          display: block;
        }
      }
    }
  }
}

// ------------------------------------------
// Styles for Search dialog
// ------------------------------------------

.search-dialog {
  background-color: rgba(0, 0, 0, 0.85);

  // &::before {
  //   height: 3rem;
  // }

  close-modal {
    @media ($medium) {
      right: 2rem;
      top: 2rem;

      .icon-cross {
        height: 3rem;
        width: 3rem;
      }
    }

    svg {
      fill: $white;
    }
  }

  dialog {
    padding: 0 3rem;
    z-index: 2;

    @media ($small) {
      padding: 0 4.5rem;
    }

    @media ($medium) {
      padding: 0 6rem;
    }
  }

  games {
    // padding: 6rem 0 0;

    @media ($medium) {
      padding: 6rem 0 3rem;
    }
  }

  .input-container {
    padding-bottom: 3rem;
    position: relative;
    top: 0;

    input {
      border-bottom-color: $white;
      color: $white;
      font-size: 3.6rem;
      font-weight: bold;
      height: 5rem;
      padding-left: 4rem;
      text-shadow: none;

      &::placeholder {
        font-weight: bold;
        opacity: 0.7;
      }

      &:focus + svg {
        fill: $white;
      }
    }

    svg {
      left: -0.5rem;
      padding: 0;
      top: 0.3rem;
      width: 2.5rem;
    }
  }
}
