.game-item {
  .info {
    position: absolute;
    right: $game-item-info-right;
    top: $game-item-info-top;
    z-index: 1;

    &:hover {
      svg {
        fill: $game-item-info-hover-fill;
      }
    }

    svg {
      fill: $game-item-info-fill;
      height: $game-item-info-height;
      width: $game-item-info-width;
    }
  }
}
