@import '../../../node_modules/@bedegaming/bolt/src/resources/stylesheets/_header';

.site-header {
  background-color: rgba(255,255,255,0.95);
  box-shadow: 0 2px 12px rgba(22,20,18,0.1);
  padding: 0;
}
