@import '../../../node_modules/@bedegaming/bolt/src/resources/stylesheets/buttons';

.btn {
  background-color: transparent;
  border: 3px solid #e21455;
  border-radius: 5px;
  color: #e21455;
  font-size: 2rem;
  font-weight: bold;
  min-width: 14rem;
  overflow: hidden;
  padding: 1.5rem 2.5rem;
  position: relative;
  text-transform: uppercase;
  transition: border-color 200ms ease, color 200ms ease;
  white-space: nowrap;

  &:hover {
    border-color: lighten(#e21455, 10%);
    color: lighten(#e21455, 10%);
  }

  &.btn-primary {
    background-image: linear-gradient(90deg, #FF345F 0%, #FF9268 100%);
    border: 0;
    color: #fff;
  }
}
