// ------------------------------------------
// Basic styles for document view
// ------------------------------------------

@import '../../../node_modules/@bedegaming/bolt/src/resources/stylesheets/document';

body {
  background-color: $grey-light;
}

site-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//This ensures the footer is pushed to the bottom of the page
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 9rem;

  @media ($medium) {
    padding-top: 5.5rem;
  }

  @media ($large) {
    padding-top: 6.5rem;
  }

  @media ($x-large) {
    padding-top: 7.5rem;
  }

  .not-authed & {
    padding-top: 5.5rem;

    @media ($large) {
      padding-top: 6.5rem;
    }
  }

  .game-open & {
    padding-top: 0;
  }

  //last child will be the footer.
  & > :not(site-footer) {
    flex-grow: 1;
  }
}
