// ------------------------------------------
// Basic styles for document view
// ------------------------------------------

@import '../../../node_modules/@bedegaming/bolt/src/resources/stylesheets/document';

body {
  background-color: $light-grey;
}

site-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
