$primary-base: #e21455;
$secondary-base: #999;
$tertiary-base: #3C4466;
$white: #ecf3fc;
$black: #010101;

$primary-color-50: scale-color($primary-base, $lightness: 90%);
$primary-color-100: scale-color($primary-base, $lightness: 80%);
$primary-color-200: scale-color($primary-base, $lightness: 65%);
$primary-color-300: #E64E6C;
$primary-color-400: scale-color($primary-base, $lightness: 20%);
$primary-color-500: $primary-base;
$primary-color-600: scale-color($primary-base, $lightness: -10%);
$primary-color-700: scale-color($primary-base, $lightness: -20%);
$primary-color-800: scale-color($primary-base, $lightness: -25%);
$primary-color-900: scale-color($primary-base, $lightness: -35%);

$secondary-color-50: scale-color($secondary-base, $lightness: 85%);
$secondary-color-100: scale-color($secondary-base, $lightness: 75%);
$secondary-color-200: scale-color($secondary-base, $lightness: 65%);
$secondary-color-300: #3C4466;
$secondary-color-400: scale-color($secondary-base, $lightness: 20%);
$secondary-color-500: $secondary-base;
$secondary-color-600: darken($secondary-color-500, 10%);
$secondary-color-700: darken($secondary-color-600, 15%);
$secondary-color-800: #4d4d4f;
$secondary-color-900: #262626;

$tertiary-color-100: scale-color($tertiary-base, $lightness: 80%);
$tertiary-color-300: scale-color($tertiary-base, $lightness: 65%);
$tertiary-color-500: $tertiary-base;
$tertiary-color-700: scale-color($tertiary-base, $lightness: -20%);
$tertiary-color-900: scale-color($tertiary-base, $lightness: -35%);

$game-page-btn-accent-colour: $primary-base;
$game-page-btn-span-margin: 0 0 0 1rem;

$game-page-home-text-color: $white;
$game-page-home-arrow-fill: $primary-color-500;
$game-page-home-background: $secondary-color-500;

$max-width: 132rem;

$body-font: 'worksans';
$heading-font: serif;

// breakpoints
$large-val: 1250px;
$large: 'min-width: #{$large-val}';

// buttons
$btn-text-color: $black;
$btn-border-radius: 0;
$btn-primary-color: $black;
$btn-secondary-color: $primary-color-500;
$btn-secondary-background: $black;
$btn-secondary-border: 2px solid $primary-color-500;
$btn-primary-hover-color: $black;
$btn-primary-transition: color 0.2s ease, background 0.2s ease;

$dialog-overlay-background: transparentize($black, 0.2);
$dialog-border: .5rem solid $primary-base;

$nav-container-box-shadow: 0.2rem 0 2rem 0 transparentize($black, 0.1);
$nav-item-color: #3E3135;

$body-font-weight: 500;
$body-font-size: 1.4rem;
$body-line-height: 1.6;
$body-color: $black;
$body-background: $secondary-color-500;

$history-empty-color: $tertiary-color-500;

$table-font-size: $body-font-size;
$thead-font-size: $table-font-size;
$table-color: $black;
$thead-border-bottom: 2px solid $tertiary-color-500;
$thead-background: $white;
$thead-color: $black;
$trow-odd-background: $secondary-color-300;
$trow-even-background: $secondary-color-50;

$input-border: 1px solid $black;
$input-border-radius: 0;
$input-outline: none;

$heading-color: $secondary-color-800;

$header-background: $white;

$transaction-history-button-active-color: $black;
$transaction-history-background-color: $secondary-color-300;
$transaction-history-font-size: 1.2rem;

$date-range-slider-knob-color: $primary-color-500;
$date-range-slider-track-color: $secondary-color-300;
$date-range-slider-range-color: $tertiary-color-500;

// Footer
$footer-background: $primary-base;
$footer-colour: $white;
$anchor-color: $white;

@import '../../../node_modules/@bedegaming/bolt/src/resources/stylesheets/variables';
