$primary-base: #e21455;
$secondary-base: #999;
$tertiary-base: #63152d;
$white: #fff;
$black: #3e3135;
$blue: #9ccaff;
$light-blue: #ecf3fc;
$dark-blue: #7c7f8c;
$primary-gradient-from: #ff345f;
$primary-gradient-to: #ff9268;
$logo-color: #db0e17;
$light-grey: #f9f9f9;
$grey: #7c7f8c;
$dark-grey: #333;
$green: #56e165;
$dark-green: #37bb47;
$cream: #f3ecec;

$game-page-btn-accent-colour: $primary-base;
$game-page-btn-span-margin: 0 0 0 1rem;

$game-page-home-text-color: $white;
$game-page-home-arrow-fill: $grey;
$game-page-home-background: $grey;

$max-width: 132rem;

$body-font: 'worksans', helvetica, arial, sans-serif;
$heading-font: 'worksans', helvetica, arial, sans-serif;

// breakpoints
$x-small-val: 320px default;
$small-val: 460px !default;
$medium-val: 769px !default;
$large-val: 1025px !default;
$x-large-val: 1250px !default;
$xx-large-val: 1400px !default;

$dialog-overlay-background: transparentize($black, 0.5);
$search-dialog-overlay-background: transparentize($black, 0.3);
$dialog-border: .5rem solid $primary-base;

$nav-container-box-shadow: 0.2rem 0 2rem 0 transparentize($black, 0.1);
$nav-item-color: #3e3135;

$body-font-weight: 500;
$body-font-size: 1.4rem;
$body-line-height: 1.6;
$body-color: $black;

$common-box-shadow: 0 4px 10px rgba(22, 20, 20, 0.1);

$table-font-size: $body-font-size;
$thead-font-size: $table-font-size;
$table-color: $black;
$thead-border-bottom: 2px solid $light-grey;
$thead-background: linear-gradient(to right, $green -50%, $blue 100%);
$thead-color: $white;
$trow-odd-background: $light-blue;
$trow-even-background: mix($light-blue, $white, 25%);

$input-border: 1px solid $black;
$input-border-radius: 0;
$input-outline: none;
$input-height: 8rem;

$app-hub-logo-large-width: 10.3rem;
$app-hub-logo-large-height: 5.5rem;
$heading-color: $light-grey;

$header-background: $white;

$transaction-history-color: mix($dark-grey, $light-grey, 50%);
$transaction-history-button-active-color: $primary-base;
$transaction-history-background-color: $light-grey;
$transaction-history-border-color: $transaction-history-color;
$transaction-history-font-size: 1.5rem;

@import '../../../node_modules/@bedegaming/bolt/src/resources/stylesheets/variables';
