.game-item {
  .featured-tag {
    height: $game-item-tag-container-height;
    left: $game-item-tag-container-left;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: $game-item-tag-container-top;
    width: $game-item-tag-container-width;
    z-index: 2;

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      @include arrow($game-item-tag-pseudo-background, left, $game-item-tag-pseudo-size);

      left: $game-item-tag-pseudo-before-left;
      top: $game-item-tag-pseudo-before-top;
    }

    &::after {
      @include arrow($game-item-tag-pseudo-background, up, $game-item-tag-pseudo-size);

      left: $game-item-tag-pseudo-after-left;
      top: $game-item-tag-pseudo-after-top;
    }

    span {
      background: $game-item-tag-background;
      box-shadow: $game-item-tag-box-shadow;
      color: $game-item-tag-color;
      display: block;
      font-size: $game-item-tag-font-size;
      font-weight: $game-item-tag-font-weight;
      left: $game-item-tag-left;
      padding: $game-item-tag-padding;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: $game-item-tag-top;
      transform: $game-item-tag-transform;
      width: $game-item-tag-width;
      z-index: 1;
    }
  }
}

// List View Styles
games-container {
  &.list-style {
    .featured-tag {
      display: none;
    }
  }
}
