<dialog>
  {{#unless isGameSearch}}
    <close-modal>
      <button>
        <svg class="icon-cross" viewBox="0 0 16 16"><path d="M8,3.9419795 L11.381684,0.5602957 C12.128745,-0.1867652 13.33997,-0.1867652 14.087031,0.5602957 L15.439704,1.9129692 C16.186765,2.6600302 16.186765,3.8712553 15.439704,4.6183162 L12.058021,8 L15.439704,11.3816838 C16.186765,12.1287447 16.186765,13.3399698 15.439704,14.0870308 L14.087031,15.4397043 C13.33997,16.1867652 12.128745,16.1867652 11.381684,15.4397043 L8,12.0580205 L4.618316,15.4397043 C3.871255,16.1867652 2.66003,16.1867652 1.912969,15.4397043 L0.560296,14.0870308 C-0.186765,13.3399698 -0.186765,12.1287447 0.560296,11.3816838 L3.941979,8 L0.560296,4.6183162 C-0.186765,3.8712553 -0.186765,2.6600302 0.560296,1.9129692 L1.912969,0.5602957 C2.66003,-0.1867652 3.871255,-0.1867652 4.618316,0.5602957 L8,3.9419795 Z"></path></svg>
        <span>{{translate "close"}}</span>
      </button>
    </close-modal>
  {{/unless}}
  <div class="modal-content"></div>
</dialog>

{{#if isGameSearch}}
  <close-modal>
    <button>
      <svg class="icon-cross" viewBox="0 0 16 16"><path d="M8,3.9419795 L11.381684,0.5602957 C12.128745,-0.1867652 13.33997,-0.1867652 14.087031,0.5602957 L15.439704,1.9129692 C16.186765,2.6600302 16.186765,3.8712553 15.439704,4.6183162 L12.058021,8 L15.439704,11.3816838 C16.186765,12.1287447 16.186765,13.3399698 15.439704,14.0870308 L14.087031,15.4397043 C13.33997,16.1867652 12.128745,16.1867652 11.381684,15.4397043 L8,12.0580205 L4.618316,15.4397043 C3.871255,16.1867652 2.66003,16.1867652 1.912969,15.4397043 L0.560296,14.0870308 C-0.186765,13.3399698 -0.186765,12.1287447 0.560296,11.3816838 L3.941979,8 L0.560296,4.6183162 C-0.186765,3.8712553 -0.186765,2.6600302 0.560296,1.9129692 L1.912969,0.5602957 C2.66003,-0.1867652 3.871255,-0.1867652 4.618316,0.5602957 L8,3.9419795 Z"></path></svg>
      <span>{{translate "close"}}</span>
    </button>
  </close-modal>
{{/if}}
